html.website-theme-white {
    background-color: #fff;
    color: #333;
}

html.website-theme-white .search-form input[type="text"] {
    background-color: #fff;
    border-color: #333;
    color: #333;
}

html.website-theme-white .search-form input[type="text"]:focus,
html.website-theme-white .search-form input[type="text"]:hover {
    border-color: #333;
}

html.website-theme-white .search-form input[type="submit"] {
    background-color: #333;
    color: #fff;
}

html.website-theme-white .search-form input[type="submit"]:focus,
html.website-theme-white .search-form input[type="submit"]:hover {
    background-color: #333;
}

html.website-theme-white .highlighting {
    text-decoration-color: #f66;
}
